# Dependencias de Node
node_modules/

# Variables de entorno
.env
.env.local
.env.*.local

# Archivos generados
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db